* {
    font-family: "Helvetica", sans-serif;
}

.secaoprincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #fefefe;
    padding: 20px;
}

.form {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

 h2 {
    font-size: 20px;
    color: #d33333;
    padding: 20px;
}

.label {
    text-align: left;
    font-weight: bold;
    margin: 12px 0 4px 0;
}

.select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    width: 80%;
}

.btn {
    width: 70%;
    padding: 12px;
    background-color: #d33333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #b72d2d;
}
