/* Define a fonte padrão para o projeto */
* {
    font-family: "Helvetica";
}
body{
    height: 100% !important;
}
main {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o container ocupar toda a altura da viewport */
    flex-direction: column; /* Organiza os elementos verticalmente */
}

/* Estilo principal da seção */
.secaoprincipal {
    text-align: center;
}

.cabecalho_page {
    /*border: 1px solid black;*/
    margin-top: 12%;
    margin-bottom: 10%
}

.cabecalho_page > h2 {
    font-size: 25px;
    padding: 5px;
    color: #d33333 !important;
    margin: 0%;
}

.cabecalho_page > p {
    color: black !important;
    margin-top: 30px !important;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 500 !important;
    font-size: 16px;
}


/* Estilo dos links */
.plink {
    color: #d33333;
    font-size: 16;;
}

/* Estilo do botão de submissão */
.btn {
    width: 250px;
    margin-top: 25px !important;
    height: 50px;
    background-color: #d33333;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}
.btn:hover{
    background-color: #9e1b1b; /* Cor vermelha escura no hover */
    transform: scale(1.1); /* Leve aumento do botão no hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao botão */}

/* Estilo da classe formulario */
.formulario {
    margin-bottom: 10%;

}
form{
    margin-top: 10%;
}

a{
    color: #d33333 !important;
}