/* Define a fonte padrão para o projeto */
* {
    font-family: "Helvetica";
}

main {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz o container ocupar toda a altura da viewport */
    flex-direction: column; /* Organiza os elementos verticalmente */
}

/* Estilo principal da seção */
.secaoprincipal {
    text-align: center;
    height: 100vh;
}

.cabecalho_page {
    /*border: 1px solid black;*/
    margin-top: 40%;
    margin-bottom: 20px;
}

.cabecalho_page > h2 {
    font-size: 25px;
    padding: 5px;
    color: #d33333 !important;
}

.cabecalho_page > p {
    color: black !important;
    margin-top: 30px !important;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 500 !important;
    font-size: 16px;
}


/* Estilo dos links */
.plink {
    text-decoration: underline;
    color: rgb(56, 56, 212);
}

/* Estilo do botão de submissão */
.btn {
    width: 250px;
    margin-top: 25px !important;
    height: 50px;
    background-color: #d33333;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

/* Estilo da classe formulario */
.formulario {
    margin-bottom: 20%;
}
form{
    margin-top: 10%;
}