/* Define a fonte padrão para o projeto */
* {
    font-family: "Helvetica";
}

/* Estilo principal da seção */
.secaoprincipal {
    text-align: center;
    height: 100vh;
    width: 100%;
}

/* Estilo do título principal */
.secaoprincipal > h2 {
    margin-top: 10%;
    font-size: 20px;
    color: #d33333;
}

/* Estilo dos parágrafos */
p {
    color: grey;
    padding: 5px;
}

/* Estilo dos links */
.plink {
    text-decoration: underline;
    color: rgb(56, 56, 212);
}

/* Estilo do botão de submissão */
.btn {
    width: 250px;
    margin-top: 25px !important;
    height: 50px;
    background-color: #d33333; 
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

/* Estilo para os labels e inputs */
label {
    margin-bottom: 15px;
}



button {
    width: 250px;
    height: 50px;
    background-color: #d33333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
