body{
    padding: 0%;
    margin: 0%;
    display: block !important;
}
/*paginaCarrinho{
}*/
.headercarrinho{
    /*border: 1px solid black !important;*/
    height: auto;
    display: flex; /* Habilita o flexbox */
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Espaço entre os elementos */
    padding: 0 20px; /* Espaçamento interno nas laterais */
    margin-top: 10%;
}
.buttonsCarrinho{
    font-size: 30px;
    
}
.headercarrinho > input{
    width: 80px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
}
h2{
    font-size: 1rem;
    padding: 20px;
    font-weight: 500;

}

.carrinhoItens{
    margin-top: 10%;

}

.infoPagamento {
   /* border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    height: 60vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao botão */
    justify-content: center; /* Alinha os itens verticalmente no centro */
}

.infoPagamento > p {
    text-align: left;
    color: black;
    font-size: 1rem;
    text-transform: none;
    display: flex;
    justify-content: space-between; /* Alinha o texto e o valor nas extremidades */
    width: 100%; /* Garantir que o conteúdo ocupe toda a largura do container */
    font-weight: 500;

}

span {
    margin-left: auto; /* Coloca o valor no canto direito */
}
.formaPagamento {
    margin-top: 20px;
    text-align: left; /* Alinha o conteúdo à esquerda */
  }
  
  .formaPagamento h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .formaPagamento label {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espaçamento entre as opções */
  }
  
  .formaPagamento div {
    display: flex; /* Flexbox para as opções ficarem lado a lado */
    flex-wrap: wrap; /* Para permitir a quebra de linha se necessário */
    color: black;
    margin: auto;
    padding: 10px;
  }
  .formaPagamento p{
    color: black;
    font-size: 1rem;
    text-transform: none;
    font-weight: 500;

  }

  
  .formaPagamento input[type="radio"] {
    margin-right: 5px; /* Espaçamento entre o input e o texto */
  }
  