.fechar-pedido-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  
 .fechar_pedido_btn {
    background-color: #d33333; /* Cor de fundo (tom de vermelho) */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Tamanho do botão */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efeito suave ao passar o mouse */
    margin-top: 80px;
    font-size: 1.1rem;
   align-self: center;
   width: 100%;
  }
  
 
  