*{
    font-family:  "Helvetica";

}
.secaoprincipal{
    text-align: center;
    border: 1px solid black;
    height: 100vh;
}
form{
    width: 100%;
}
.secaoprincipal > h2{
    margin-top: 15%;
    font-size: 25px;
    color: #d33333;
}
.secaoprincipal > h2{
    font-size: 20px;
    padding: 20px;
}
p{
    color: grey;
    padding: 5px;
    
}
.plink{
    text-decoration: underline;
    color: rgb(56, 56, 212);
}
.btn{
    width: 250px;
    margin-top: 25px !important;
    height: 50px;
    background-color: #d33333; 
   color: white;
    border-radius: 10px;
    font-size: 16px;
}