/* src/pages/HomePrincipal.module.css */
* {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
  }
  
  .mainpage {
    height: 100vh;
    width: 100%;
    background-color: #f0f2f5; /* Cor de fundo suave */
    padding: 20px;
  }
  
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .headerWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .headerWelcome h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .headerWelcome img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sectionBlocos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
  }
  
  .opcaoBloco {
    background-color: #ffffff;
    border: 2px solid  #d33333ff;
    color:  #d33333ff;;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .opcaoBloco:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
    color:  #d33333ff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  footer {
    margin-top: 20px;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .sectionBlocos {
      gap: 30px;
    }
  
    .opcaoBloco {
      width: 300px;
    }
  }
  
  @media (min-width: 1024px) {
    .sectionBlocos {
      gap: 40px;
    }
  
    .opcaoBloco {
      width: 350px;
    }
  }
  