* {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante o controle do tamanho dos elementos */
    color: black;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita rolagem lateral */
}

body {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Define cor branca para textos */
}
.main{
    background: linear-gradient(90deg, rgba(166, 0, 0, 1) 0%, rgba(198, 95, 0, 1) 50%, rgba(247, 244, 0, 1) 100%) !important;

}

.welcomesession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza os textos */
    gap: 20px; /* Adiciona espaçamento entre os elementos */
    padding: 20px;
    /*background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    /*background-color: rgba(255, 255, 255, 0.573);*/
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
    width: 90%;
    max-width: 500px; /* Limita a largura */
    background-color: wh;
}

.welcomesession img {
    width: 60%;
    max-width: 200px; /* Ajusta a imagem para telas menores */
    animation: mexerImagem 5s infinite alternate;
}
.welcomesession > h1{
    font-size: 25px;
}
h1 {
    font-size: 1.8rem; /* Tamanho responsivo do texto */
    line-height: 1.4;
}

.botaoiniciar {
    background-color: #d33333;
    margin-top: 10px;
    width: 220px;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.botaoiniciar:hover {
    background-color: #a60000;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

