.secaonumerodamesa {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.secaonumerodamesa > h2 {
    font-size: 22px;
    font-weight: 600 !important;
}

.statusmesas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre as linhas de mesa */
margin-top: 30px}

.mesasituacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual */
    gap: 10px; /* Espaçamento entre os botões */
    padding: 20px !important;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.btnEscolherMesa {
    background-color: #d33333;
    border: none;
    color: white;
    width: 120px; /* Ajuste a largura do botão */
    padding: 15px 0; /* Ajuste o padding para melhor visualização */
    font-size: 18px; /* Ajuste o tamanho da fonte do botão */
    cursor: pointer;
    border-radius: 5px; /* Opcional: Arredondar os cantos do botão */
    margin: 0% ;
    margin-top: 10% !important;
    margin-left: 20px;
}   
.mesasituacao p {
    margin: 0; /* Remove margens padrão do parágrafo */
    font-size: 18px; /* Ajuste o tamanho da fonte do parágrafo */
    text-align: center; /* Alinha o texto ao centro */
    width: 200px; /* Ajuste a largura para igualar ao botão */
    color: black;
}

.footeropcoes {
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
