.secaoCadastroProduto {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 85%;
    max-width: 500px;
    animation: slideIn 0.3s ease-out;
}
h2{
    font-size: 18px;
    margin-top: 5%;
}
.btn{
    background-color: #d33333;
    margin-top: 10%;
    width: 220px;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: #a60000;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.btnFecharPopUp{
    float: right;
    margin-top: -10px;
    width: auto;
    background-color: #a60000;
    color: white;
    border-radius: 20px;
    position: absolute;
    margin-left: 25%;

    
}