.card_item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card_item:hover {
  transform: scale(1.02);
}

.card_image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.card_content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.item_title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-decoration: none; /* Remove o risco */
}

.card_content a {
  text-decoration: none; /* Remove qualquer sublinhado do Link */
}


.p_preco {
  font-size: 16px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 10px;
}

.divAdd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantItem {
  width: 50px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.addBtnCard {
  background: #ff6600;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.addBtnCard:hover {
  background: #e65c00;
}
