
.background_style {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
       z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}
.secaoEdicaoProduto {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    animation: slideIn 0.3s ease-out;
    position: relative;
    border: 2px solid  #a60000;
        z-index: 1000;

}

h2 {
    font-size: 18px;
    margin-top: 5%;
}

.btn {
    background-color: #d33333;
    margin-top: 10%;
    width: 220px;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #a60000;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.btnFecharPopUp {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #a60000;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
}
